* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 75px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form {
  margin: auto;
  width: 25%;
  display: flex;
  justify-content: space-around;
}

.timer {
  margin: auto;
  width: 25%;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.value {
  color: blueviolet;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: xx-large;
}

.label {
  color: olive;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: medium;
}
